#include "winuser.h"

1 RT_MANIFEST chzpart.manifest

1 VERSIONINFO
FILEVERSION 0,3,0,0
PRODUCTVERSION 0,3,0,0
BEGIN
  BLOCK "StringFileInfo"
  BEGIN
    BLOCK "040904E4"
    BEGIN
      VALUE "CompanyName", "CHZ-Soft"
      VALUE "FileDescription", "CHZ Atari Disk Partitioning Tool"
      VALUE "FileVersion", "0.3.0.0"
      VALUE "ProductName", "chzpart"
      VALUE "ProductVersion", "0.3.0.0"
    END
  END
END