name: Automatic snapshot build

on:
  push:
    branches: [ master ]

jobs:
  buildall:

    runs-on: ubuntu-24.04

    steps:
    - uses: actions/checkout@v4
    - name: Install DEB packages
      run: |
        sudo apt-get update
        sudo apt-get install gcc-mingw-w64 gcc-aarch64-linux-gnu zip
    - name: Install mintelf toolchain
      run: |
        pwd
        mkdir mintelf
        cd mintelf
        wget -q -O - https://tho-otto.de/snapshots/binutils/binutils-mintelf-current.tar.bz2 | sudo tar xjf -
        wget -q -O - https://tho-otto.de/snapshots/gcc/gcc-mintelf-current.tar.bz2 | sudo tar xjf -
        pushd .
        mkdir -p usr/m68k-atari-mintelf/sys-root
        cd usr/m68k-atari-mintelf/sys-root
        wget -q -O - https://tho-otto.de/snapshots/mintlib/mintlib-mintelf-latest.tar.bz2 | sudo tar xjf -
        wget -q -O - https://tho-otto.de/snapshots/fdlibm/fdlibm-mintelf-latest.tar.bz2 | sudo tar xjf -
        popd
        echo "$(pwd)/usr/bin" >> $GITHUB_PATH
    - name: Install and build libcmini
      run: |
        pwd
        git clone https://github.com/freemint/libcmini.git
        cd libcmini
        # always use the same (known working) version
        git checkout 42a73ab2bd44094c1c2786e7347ba6e1b3be146d
        # apply patch to map LF to CR+LF
        git apply < ../libcmini_map_newlines.patch
        make COMPILE_ELF=Y dirs libs startups
    - name: Install and build Nim
      run: |
        pwd
        git clone --depth=1 -b Atari_TOS_support_v2 https://github.com/czietz/Nim.git
        cd Nim
        ./build_all.sh
        echo "$(pwd)/bin" >> $GITHUB_PATH
    - name: Build program
      run: |
        pwd
        export LIBCMINI="$(pwd)/libcmini"
        nim c --cpu:m68k --os:atari --out:chzpart.tos -d:libcmini -d:mintelf -d:release chzpart.nim
        nim c --cpu:m68k --os:atari --out:chzpa_cf.tos -d:libcmini -d:mintelf -d:coldfire -d:release chzpart.nim
        nim c -d:release chzpart.nim
        nim c -d:mingw -d:release chzpart.nim
        nim c --cpu:arm64 --out:chzpart-arm64 -d:release chzpart.nim
    - name: Save binaries as build artifacts
      uses: actions/upload-artifact@v4
      with:
        name: chzpart-${{github.sha}}
        path: |
          chzpart.tos
          chzpa_cf.tos
          chzpart
          chzpart.exe
          chzpart-arm64
          README.md