name: Automatic snapshot build

on:
  push:
    branches: [ master ]

jobs:

  buildall:

    # Ubuntu 22.04 is supported until 2027 and imposes glibc 2.35 as min. requirement
    runs-on: ubuntu-22.04

    steps:
    - uses: actions/checkout@v4
      with:
        fetch-depth: 0
    - name: Install DEB packages
      run: |
        sudo apt-get update
        sudo apt-get install gcc-mingw-w64 gcc-aarch64-linux-gnu zip upx
    - name: Install mintelf toolchain
      run: |
        pwd
        mkdir mintelf
        cd mintelf
        wget -q -O - https://tho-otto.de/snapshots/binutils/binutils-mintelf-current.tar.bz2 | sudo tar xjf -
        wget -q -O - https://tho-otto.de/snapshots/gcc/gcc-mintelf-current.tar.bz2 | sudo tar xjf -
        pushd .
        mkdir -p usr/m68k-atari-mintelf/sys-root
        cd usr/m68k-atari-mintelf/sys-root
        wget -q -O - https://tho-otto.de/snapshots/mintlib/mintlib-mintelf-latest.tar.bz2 | sudo tar xjf -
        wget -q -O - https://tho-otto.de/snapshots/fdlibm/fdlibm-mintelf-latest.tar.bz2 | sudo tar xjf -
        popd
        echo "$(pwd)/usr/bin" >> $GITHUB_PATH
    - name: Install and build libcmini
      run: |
        pwd
        git clone https://github.com/freemint/libcmini.git
        cd libcmini
        # always use the same (known working) version
        git checkout 970b7b784395c88a65c403874dd0938a3bd19cd1
        # apply patch to map LF to CR+LF
        git apply < ../libcmini_map_newlines.patch
        make COMPILE_ELF=Y dirs libs startups
    - name: Install and build Nim
      run: |
        pwd
        git clone --depth=1 -b Atari_TOS_support_v2 https://github.com/czietz/Nim.git
        cd Nim
        ./build_all.sh
        echo "$(pwd)/bin" >> $GITHUB_PATH
    - name: Create directories for binaries
      run: |
        pwd
        mkdir -p dist/68000
        mkdir -p dist/firebee
        mkdir -p dist/linux-x64
        mkdir -p dist/windows
        mkdir -p dist/linux-arm64
    - name: Build program
      run: |
        pwd
        export LIBCMINI="$(pwd)/libcmini"
        nim c --cpu:m68k --os:atari --out:dist/68000/chzpart.tos -d:libcmini -d:mintelf -d:release -d:lto -d:strip chzpart.nim
        nim c --cpu:m68k --os:atari --out:dist/firebee/chzpart.tos -d:libcmini -d:mintelf -d:coldfire -d:release -d:lto -d:strip chzpart.nim
        nim c --outdir:dist/linux-x64/ -d:release -d:strip chzpart.nim
        nim c --outdir:dist/windows/ -d:mingw -d:release -d:strip chzpart.nim
        nim c --cpu:arm64 --outdir:dist/linux-arm64/ -d:release -d:strip chzpart.nim
        upx dist/68000/chzpart.tos
    - name: Save binaries as build artifacts
      uses: actions/upload-artifact@v4
      with:
        name: chzpart-temp-1
        retention-days: 1
        path: |
          dist/**


  buildmac:

    # macOS on Apple Silicon
    runs-on: macos-latest

    steps:
    - uses: actions/checkout@v4
      with:
        fetch-depth: 0
    - name: Install Nim
      run: |
        pwd
        brew install nim
    - name: Build program
      run: |
        mkdir -p dist/macos-arm64
        nim c --outdir:dist/macos-arm64/ -d:release -d:strip chzpart.nim
    - name: Save binaries as build artifacts
      uses: actions/upload-artifact@v4
      with:
        name: chzpart-temp-2
        retention-days: 1
        path: |
          dist/**


  package:

    needs: [buildall, buildmac]
    runs-on: ubuntu-latest

    steps:

    - uses: actions/checkout@v4
    - uses: actions/download-artifact@v5
      with:
        path: binaries
        merge-multiple: true
    - name: Display structure of downloaded files
      run: ls -R binaries
    - name: Make release zip file
      run: zip -r -9 chzpart-`date -I`.zip README.md COPYING binaries
    - name: Save binaries as pre-release
      uses: "czietz/action-automatic-releases@latest"
      with:
        repo_token: "${{ secrets.GITHUB_TOKEN }}"
        automatic_release_tag: "latest"
        prerelease: false
        title: "Latest snapshot build"
        files: |
          chzpart-*.zip